requests==2.34.2
questionary==2.1.1
rich==15.0.0
akita-articles @ git+https://github.com/Felipe-Alcantara/akita-articles@5fab889f6db8312298c0ce0fd8d4b7355b20231e
pypdf==6.16.1
python-docx==1.2.0
ebooklib==0.20
pytesseract==0.3.13
